<div v-cloak v-if="showModalUpdateProfile"
     class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
      <div class="relative w-auto my-6 mx-auto max-w-6xl">
        <!--content-->
        <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
          <!--header-->
          <div class="flex items-start justify-between p-5 border-b border-solid border-gray-300 rounded-t">
            <h1 class="text-4xl font-black mb-4">Modification</h1>
            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none"
                    v-on:click="showModalUpdateProfile = false"
  {# v-on:submit.prevent="toggleModalUpdateProfile"  #}
            >
              <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                ×
              </span>
            </button>
          </div>
            <div v-if="loading" class="flex justify-center">
                <svg class="animate-spin -ml-1 mr-3 h-48 w-48 text-indigo-700" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </div>
          <!--body-->
          <div v-else class="relative p-6 flex-auto">

              <!-- Success msg -->
              <div v-if="serverSuccess" class="bg-indigo-500 border-t-4 border-indigo-700 rounded-b text-white px-4 py-3 shadow-md" role="alert">
                      <strong class="text-sm">[[success_msg]]</strong>
              </div>
              <!-- Success msg -->

              <!-- Danger msg -->
              <div v-if="serverError" class="bg-red-500 border border-red-700 text-white px-4 py-3 rounded relative" role="alert">
                  <strong class="text-sm">[[err_msg]]</strong>
              </div>
             <!-- Danger msg -->

            <form  :model="formModel" id="update_user_form" action="javascript:void(0)" method="POST"
                   @submit="checkFormUpdateProfile($event)" data-url="{% url 'account:update_profile' user.id %}"
                   enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-4 relative" v-if="errors.length">
                    <b>Corrigez ces erreurs:</b>
                    <ul>
                      <li class="text-red-500" v-for="error in errors">[[ error ]]</li>
                    </ul>
                </div>
                <div class="mb-4 relative">
<!--                        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="username">Identifiant</label>-->
                        <input autofocus
                          class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"
                          id='first_name_update' name='first_name'
                               v-on:input="onChangeFunction($event)"
                          :value="formModel.first_name ? formModel.first_name : '' "
                          type="text"
                          placeholder="Prénom"
                        >
                </div>
                <div class="mb-4 relative">
<!--                        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="username">Identifiant</label>-->
                        <input autofocus
                          class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"
                          id='last_name_update' name='last_name'
                               v-on:input="onChangeFunction($event)"
                          :value="formModel.last_name ? formModel.last_name : '' "
                          type="text"
                          placeholder="Nom"
                        >
                </div>
                <div class="mb-4 relative">
<!--                        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="username">Identifiant</label>-->
                        <input autofocus
                          class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"
                          id="email"
                          {# v-model="email" #}
                               {# v-model.lazy="email" #}
                          v-on:input="onChangeFunction($event)"
                          :value="formModel.email ? formModel.email : '' "
                          type="email"
                          name="email" placeholder="Email"
                        >
                </div>
                <div class="mb-4 relative">
<!--                        <label class="label absolute mb-0 -mt-2 pt-4 pl-3 leading-tighter text-gray-400 text-base mt-2 cursor-text" for="username">Identifiant</label>-->
                        <input autofocus
                          class="input border border-gray-400 appearance-none rounded w-full px-3 py-3 pt-5 pb-2 focus focus:border-indigo-600 focus:outline-none active:outline-none active:border-indigo-600"
                          id="phone_update"
                               v-on:input="onChangeFunction($event)"
                          :value="formModel.phone ? formModel.phone : '' "
                          type="text"
                          name="phone" placeholder="Téléphone"
                        >
                </div>
          <div class="flex items-center justify-end p-4 border-t border-gray-300">
              <button
                  type="submit"
                class="w-full justify-center inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
              <svg v-if="loadingWait" class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
              Enregistrer
            </button>

          </div>
        </form>
          </div>
        </div>
      </div>
    </div>
    <div v-if="showModalUpdateProfile" class="opacity-25 fixed inset-0 z-40 bg-black"></div>