__pycache__
website/__pycache__
berard/__pycache__
account/migrations/
cart/migrations/
order/migrations/
payment/migrations/
website/migrations/
/tests
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
/.idea
/.vscode
tests
sent_emails
/theme
media/doc