{% extends "base.html" %}

{% block navbar %}
    {% include "important/navbar.html"%}
{% endblock %}


{% block content %}
            <div class="container w-full h-screen mx-auto py-6 text-xl text-center">
                <div style="padding-top: 70px">
                    <h2 class="mt-1 mb-5">Modification du mot de passe prise en compte</h2>
                        <hr>
                    <p>Votre mot de passe a été changé,</p>
                    <p>Vous pouvez vous connecter maintenant</p>
                </div>
            </div>
{% endblock %}

