<div id="CookielawBanner" class="fixed bottom-0 left-0 right-0 z-50">
    <div class="container mx-auto">
        <div>
              <p class="mb-4 mt-3">
                  Notre site sauvegarde des cookies sur votre appareil afin de vous garantir de meilleurs contenus et à des fins de collectes statistiques
              </p>

            <a class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-transparent bg-blue-700 font-semibold text-white py-2 px-4 border border-blue-700 hover:border-transparent rounded"
               href="javascript:Cookielaw.createCookielawCookie();">J'accepte</a>
            <a class="px-6 py-2 text-xs font-medium leading-6 text-center text-white uppercase transition bg-transparent bg-red-500 font-semibold text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
               href="javascript:Cookielaw.dismissCookielawCookie();">Je refuse</a>

        </div>
    </div>
</div>

