<div id="CookielawBanner" class="fixed bottom-0 left-0 right-0 z-50">
    <div class="container mx-auto">
        <div>
              <p class="mb-4 mt-3">
                  Notre site sauvegarde des cookies sur votre appareil afin de vous garantir de meilleurs contenus et à des fins de collectes statistiques
              </p>

            <a class="px-6 py-2 text-xs font-medium leading-6 text-center uppercase btn btn-primary"
               href="javascript:Cookielaw.createCookielawCookie();">J'accepte</a>
            <a class="px-6 py-2 text-xs font-medium leading-6 text-center uppercase btn btn-orange"
               href="javascript:Cookielaw.dismissCookielawCookie();">Je refuse</a>

        </div>
    </div>
</div>

