{% autoescape off %}
    Bonjour {{ user.email }},

    Pour vous connecter,
    S'il vous plait, cliquez sur le lien suivant afin d'initialiser votre mot de passe sur notre site:

    {{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}

    Ce lien ne peut être utilisé qu'une fois.

    Si vous avez besoin de réinitialiser votre mot de passe, allez sur ce site: {{ protocol }}://{{domain}}
    et refaîtes une demande à la rubrique "mot de passe oublié".

    En vous remerciant de l'attention portée.
{% endautoescape %}
